<div class="feed-container">
	<div class="feed-holder"></div>
</div>
<div class="opt-group">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default btn-lg btn-prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button type="button" class="btn btn-default btn-lg btn-next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
		<button type="button" class="btn btn-danger btn-lg btn-down">
			<span class="glyphicon glyphicon-thumbs-down"></span>
			 <span class="down-count"></span>
		</button>
		<button type="button" class="btn btn-success btn-lg btn-up">
			<span class="glyphicon glyphicon-thumbs-up"></span>
			 <span class="up-count"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
</div>

<div class="side-menu feed-list-menu">
	<div class="feed-list-container">
	</div>
</div>

<div class="side-menu filter-menu">
	<div id="image-type-filter-group" class="filter-group">
		<h4><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Image Types</h4>
		<div class="filter-section">
			<label><input class="icheck" class="image-type-filter" type="radio" name="image_type" checked><span class="filter-name">All</span></label>
		</div>
		<div class="filter-section">
			<label><input class="icheck" id="gif-only" class="image-type-filter" type="radio" name="image_type"><span class="filter-name">GIF Only</span></label>
		</div>
		<div class="filter-section">
			<label><input class="icheck" id="non-gif"  class="image-type-filter" type="radio" name="image_type"><span class="filter-name">Non-GIF Only</span></label>
		</div>
	</div>
	<div id="upload-date-filter-group" class="filter-group">
		<h4>
  			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  			Upload Date
  		</h4>
		<div class="filter-section">
			<label><input class="icheck" type="radio" name="upload_date" checked><span class="filter-name">All</span></label>
		</div>
		<div class="filter-section">
			<label><input id="last-week" class="icheck" type="radio" name="upload_date" ><span class="filter-name">Last Week</span></label>
		</div>
		<div class="filter-section">
			<label><input id="last-month" class="icheck" type="radio" name="upload_date"><span class="filter-name">Last Month</span></label>
		</div>
		<div class="filter-section">
			<label><input id="last-year" class="icheck" type="radio" name="upload_date"><span class="filter-name">This Year</span></label>
		</div>
	</div>
	<div id="tags-filter-group" class="filter-group">
		<h4>
  			<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
			Tags
		</h4>
		<div class="filter-section">
			<label><input type="checkbox" class="icheck all-tags" checked><span class="filter-name">All</span></label>
		</div>
		<% Tag.all.each do |t| %>
		<div class="filter-section">
			<label><input type="checkbox" data-id="<%= t.id %>" class="icheck a-tag" checked><span class="filter-name"><%= t.name.titleize %></span></label>
		</div>
		<% end %>
	</div>
</div>
