// Place all the styles related to the CMS::Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feeds-management {
  .feeds-list .feed_image {
    max-width: 200px;
    max-height: 200px;
  }
  
  .pagination {
    margin:0px;
    position:fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .table {
    margin-bottom:0px;
    td {
      max-width:210px;
    }
  }
}