<div id="feeds-management">
	<table class="table table-striped table-hover table-bordered feeds-list">
		<tr>
			<th>#</th>
			<th>Thumbnail</th>
			<th>Tags</th>
			<th>Text Options</th>
			<th>Size</th>
			<th>Source</th>
			<th>Priority</th>
			<th>Rating</th>
			<th>Created At</th>
			<th>Active?</th>
			<th>Type</th>
		</tr>
		<% @feeds.each do |f| %>
		<% image = f.images.first %>
		<tr>
			<td><%= f.id %></td>
			<td><%= link_to "#{image_tag(image.attachment.url, class: 'feed_image' )}".html_safe, image.attachment.url, target: "_blank" %></td>
			<td>
				<% f.tags.each do |t| %>
					<%= t.name %>
					<br>
				<% end %>
			</td>
			<td>1.<%= f.title %><br>2.<%= f.text %></td>
			<td><%= "#{image.attachment_file_size/1000} kb" %><br><%= image.original_width %>x<%= image.original_height %></td>
			<td><%= link_to f.source, f.source_url, target: "_blank" %></td>
			<td><%= f.priority %></td>
			<td><%= f.up %>/<%= f.down %></td>
			<td><%= f.created_at.to_formatted_s(:db) %></td>
			<td><%= f.is_active %></td>
			<td><%= f.image_type %></td>
		</tr>
		<%end%>
	</table>
	<%= will_paginate @feeds, renderer: BootstrapPagination::Rails %>
</div>
