<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Funny App | CMS".html_safe, cms_home_index_path, class: "navbar-brand" %>
		</div>
		<div id="navbar" class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">	
				<li><%= link_to "Home", cms_home_index_path %></li>	
				<li><%= link_to "Feeds", cms_feeds_path %></li>	
				<li class="dropdown1">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Import <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to "Pinterest: All in Html", cms_import_form_all_in_html_pinterest_path %></li>
					</ul>
				</li>
			</ul>
		</div> 
	</div>
</nav>