@import 'colors';

.feed-container {
  padding-top: 51px;
  padding-bottom: 60px;
  min-height: 100%;
  background: rgb(51,51,51); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(102,102,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); /* IE6-9 */

  color: #eeeeee;
}

.feed-holder {
   text-align:center;
  
  .feed-img {
    -webkit-box-shadow: 0px 0px 120px 19px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 120px 19px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 120px 19px rgba(0,0,0,0.35);
    @media (min-width: 500px) {
      max-width: 500px;
      min-width: 500px;
      margin-top: 5px;
    }
    @media (max-width: 500px) {
      max-width: 100%;
      min-width: 100%;
    }
  }
  
  .feed-title {
    max-width: 500px;
    margin: 0px auto 0px auto;
    @media (max-width: 500px) {
      font-size: 17px;
      padding: 15px 15px 0px 15px;
      font-weight: 600;
    }
    @media (min-width: 500px) {
      font-size: 23px;
      font-weight: 600;
      padding: 30px 30px 0px 30px;
    }
  }
  
  .tags-holder {
    padding-top:10px;
    font-size: 17px;
    span {
      margin: 0px 3px;
    }
  }
}

.opt-group {
  background-color: #f8f8f8;
  @media (min-width: 768px) {
    border-top: 1px solid rgb(231, 231, 231);
  }
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  @media (min-width: 768px) {
    padding: 5px 0px;
  }
  text-align:center;
  .btn-group {
    display: inline-block;
    position: static;
    width: 100%;
    max-width: 500px;
    .btn-prev, .btn-next {
      width: 20%;
    }
    .btn-up, .btn-down {
      width: 30%;
    }
    
    .btn {
      border-radius: 0px;
      margin-left: 0px;
    }
  }
}

.side-menu {
  position: fixed;
  top: 51px;
  bottom:57px;
  width: 230px;
  background:#2c323c;
  color: #eeeeee;
  overflow-y: scroll;
  overflow-x: hidden;
  
  @media (min-width: 960px) {
    overflow-y: hidden;
  }
  
  @media (max-width: 960px) {
    width: 100%;
    bottom:0px;
    display:none;
  }
  
  @media (min-width: 1000px) {
    width: 250px;
  }
}

.side-menu:hover {
  @media (min-width: 960px) {
    overflow: auto;
  }
}

.filter-menu {
  left:0px;
  
  .filter-group {
    h4 {
      .glyphicon {
        margin-right: 10px;
      }
      
      padding: 10px;
      margin-left:6px;
      border-bottom: 1px solid $global-deep-gray;
    }
    .filter-section {
      padding-left: 10px;
      padding-top: 10px;
      
      label {
        width: 100%;
      }
      
      .filter-name {
        margin-left: 10px;
      }
    }
  }
}

.feed-list-menu {
  right:0px;
  text-align:center;
  
  .feed-list-container {
    display: inline-block;
    width: 250px;
    overflow: hidden;
    
    .feed-img-thumb-holder {
      background: blue;
      width: 124px;
      height: 124px;
      float: left;
      border: #2c323c solid 1px;
      
      img {
        width: 100%;
        min-height: 100%;
      }
    }
  }
  
}

.nav > li.nav-filter, .nav > li.nav-images-list {
  @media (min-width: 960px) {
    display:none;
  }
}



