html {
  height: 100%;
}

body {
  height: 100%;
  position:relative
}

*:focus {
    outline: 0 !important;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  
  .nav-text {
    @media (max-width: 500px) {
      display:none;
    }
  }
}