// corporate colours
$global_gray:        #e7e7e7;
$global_deep_gray:   #8b8e94;
$global_deep_blue:   #4970a9;
$global_orange:      #e95959;
$global_red:         #e95959;
$global_yellow:      #ffae00;
$global_green:       #5cb85c;
$global_deep_green:  #33CC33;
$global_purple:      #ab43b6;
$global_deep_purple: #7b3895;