<div class="container">
	<div class="form_container">
	<%= bootstrap_form_tag url: cms_import_parse_all_in_html_pinterest_url do |f| %>
	<%= f.text_area :html, rows: 40 %>
	<%= f.select(:tags, options_for_select(Tag.all.collect{|t| t.name}), {}, {:multiple => true}) %>
	<%= f.submit %>
	<% end %>
	</div>
</div>
