<!DOCTYPE html>
<html>
<head>
  <title><%= t 'app_name' %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="#"><%= t 'app_name' %></a>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="" id="navi">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="nav-filter"><a href="#"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><span class="nav-text"> Filter</span></a></li>
	        <li class="nav-images-list" ><a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span><span class="nav-text"> List</span></a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="nav-text"> About</span></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<%= yield %>
	
</body>
</html>
