<!DOCTYPE html>
<html>
<head>
  <title><%= t 'app_name' %> - <%= "CMS" %></title>
  <%= stylesheet_link_tag    "cms", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "cms", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/cms/navigation' %>
<%= render 'layouts/cms/messages' %>
<%= yield %>
</body>
</html>